:root {
  --background-color: #fffefe;
  --background-color-page-header: #c00;
  --primary-color: black;
  --background-color-pokemonListButton: #0f125d;
  --background-color-pokemonListButton-hover: #3b4cca;
  --color-pokemonListButton: #fff;
  --primary-font-family: "Josefin Sans", sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --primary-line-height: 1.6;
  --bold-font-weight: 700;
  --page-max-width: 1400px;
  --pokemonListButton-max-width: 870px;
  --pokemonListButton-font-size: 20px;
  --pokemonListButton-font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--primary-color);
  background-image: url(../img/pokemon_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--bold-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold-font-weight);
}

.page-header {
  background-color: var(--background-color-page-header);
  display: flex;
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 20px;
  border-radius: 100px 50px;
}

.body_container {
  max-width: var(--page-max-width);
  margin: 0.67em auto;
}

.pokemonListButton,
.pokemonListButton:active {
  background-color: var(--background-color-pokemonListButton);
  color: var(--color-pokemonListButton);
  font-size: var(--pokemonListButton-font-size);
  font-weight: var(--pokemonListButton-font-weight);
  height: 50px;
  width: 63%;
  max-width: var(--pokemonListButton-max-width);
  margin: 5px 0;
  border: none;
  border-radius: 50px;
  transition: 0.2s background-color;
  transition: 0.2s box-shadow;
}

.pokemonListButton:hover {
  cursor: pointer;
  background-color: var(--background-color-pokemonListButton-hover);
  box-shadow: 0px 0px 10px 3px var(--background-color-pokemonListButton-hover);
}

.pokemonHomeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#modal-container {
  display: none;
}
