:root {
  --background-color: #fffefe;
  --background-color-page-header: #c00;
  --primary-color: #000;
  --background-color-pokemonListButton: #0f125d;
  --background-color-pokemonListButton-hover: #3b4cca;
  --background-modal-container: #00000040;
  --background-modal-close: #f00;
  --color-pokemonListButton: #fff;
  --primary-font-family: "Josefin Sans", sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --primary-line-height: 1.6;
  --bold-font-weight: 700;
  --page-max-width: 1400px;
  --pokemonListButton-max-width: 870px;
  --pokemonListButton-font-size: 20px;
  --pokemonListButton-font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--primary-color);
  background-image: url(../img/pokemon_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--bold-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold-font-weight);
}
