/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fffefe;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  background-image: url(../img/pokemon_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.page-header {
  background-color: #c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 100px 50px;
}

.body_container {
  max-width: 1400px;
  margin: 0.67em auto;
}

.pokemonListButton {
  background-color: #0f125d;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 63%;
  max-width: 870px;
  margin: 5px 0;
  border: none;
  border-radius: 50px;
  -webkit-transition: 0.2s background-color;
  transition: 0.2s background-color;
  -webkit-transition: 0.2s -webkit-box-shadow;
  transition: 0.2s -webkit-box-shadow;
  transition: 0.2s box-shadow;
  transition: 0.2s box-shadow, 0.2s -webkit-box-shadow;
}

.pokemonListButton:active {
  background-color: #0f125d;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 63%;
  max-width: 870px;
  margin: 5px 0;
  border: none;
  border-radius: 50px;
  -webkit-transition: 0.2s background-color;
  transition: 0.2s background-color;
  -webkit-transition: 0.2s -webkit-box-shadow;
  transition: 0.2s -webkit-box-shadow;
  transition: 0.2s box-shadow;
  transition: 0.2s box-shadow, 0.2s -webkit-box-shadow;
}

.pokemonListButton:hover {
  cursor: pointer;
  background-color: #3b4cca;
  -webkit-box-shadow: 0px 0px 10px 3px #3b4cca;
  box-shadow: 0px 0px 10px 3px #3b4cca;
}

.pokemonHomeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
